<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="DefaultDocumentHandler" path="Default.aspx" verb="GET" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
